extends layout

block content
  h1 Bem vinda!(o) #{title}!
  p 
    strong Congrats! 
    | completou tudo <3
  p testando 03/01/23
    | 
    a(href="https://docs.oracle.com/en-us/iaas/Content/devops/using/home.htm") read more about the DevOps service 
    | and get started with your 
    a(href="https://cloud.oracle.com/devops-project/projects") own CI/CD pipeline.
